$icomoon-font-family: 'iconfont' !default;
$icomoon-font-path: '../../assets/fonts/iconfont/' !default;

$icon-star: '\e900';
$icon-correspondence56: '\e901';
$icon-fast56: '\e902';
$icon-guarantee56: '\e903';
$icon-integration1C56: '\e904';
$icon-integration56: '\e905';
$icon-pricing56: '\e906';
$icon-security56: '\e907';
$icon-speed56: '\e908';
$icon-web56: '\e909';
$icon-arrow-right32: '\e90a';
$icon-arrow-up-right32: '\e90b';
$icon-bag32: '\e90c';
$icon-bitrix32: '\e90d';
$icon-check32: '\e90e';
$icon-headphones32: '\e90f';
$icon-integration32: '\e910';
$icon-phone32: '\e911';
$icon-responsive32: '\e912';
$icon-rupor32: '\e913';
$icon-shop32: '\e914';
$icon-tools32: '\e915';
$icon-arrow-left24: '\e916';
$icon-arrow-right24: '\e917';
$icon-arrow-square24: '\e918';
$icon-arrow-up-right24: '\e919';
$icon-bag24: '\e91a';
$icon-bell24: '\e91b';
$icon-burger24: '\e91c';
$icon-calendar24: '\e91d';
$icon-caret24: '\e91e';
$icon-catalog24: '\e91f';
$icon-chats24: '\e920';
$icon-check24: '\e921';
$icon-close24: '\e922';
$icon-coin24: '\e923';
$icon-double-check24: '\e924';
$icon-entrance24: '\e925';
$icon-exit24: '\e926';
$icon-eye24: '\e927';
$icon-filter24: '\e928';
$icon-folder-open24: '\e929';
$icon-fourt-circle24: '\e92a';
$icon-gear24: '\e92b';
$icon-hash24: '\e92c';
$icon-heart24: '\e92d';
$icon-house24: '\e92e';
$icon-infinity24: '\e92f';
$icon-info24: '\e930';
$icon-mail24: '\e931';
$icon-minus24: '\e932';
$icon-notepad24: '\e933';
$icon-paper-clip24: '\e934';
$icon-paper-plane24: '\e935';
$icon-pencil24: '\e936';
$icon-phone24: '\e937';
$icon-phone-call24: '\e938';
$icon-plus24: '\e939';
$icon-plus-circle24: '\e93a';
$icon-push-pin24: '\e93b';
$icon-push-pin-down24: '\e93c';
$icon-question24: '\e93d';
$icon-registration24: '\e93e';
$icon-search24: '\e93f';
$icon-share24: '\e940';
$icon-share-link24: '\e941';
$icon-smile24: '\e942';
$icon-stack24: '\e943';
$icon-three-dots-gor24: '\e944';
$icon-three-dots-vert24: '\e945';
$icon-trash24: '\e946';
$icon-upload24: '\e947';
$icon-user24: '\e948';
$icon-user-circle24: '\e949';
