<div class="table">
  <div class="row">
    <div class="table-content">
      <h2>@include</h2>
      <div class="table-content__top">
        <h3>fdr</h3>
        <span class="text-devider">or</span>
        <h3>fdc</h3>
      </div>
      <div class="table-devider">
        <p>+</p>
      </div>
      <ul class="table-content__list">
        <li class="table-content__item">
          <div class="item-title">
            <h2>js</h2>
          </div>
          <div class="item-description">
            <p>justify content: flex-start</p>
          </div>
        </li>
        <li class="table-content__item">
          <div class="item-title">
            <h2>jc</h2>
          </div>
          <div class="item-description">
            <p>justify content: center</p>
          </div>
        </li>
        <li class="table-content__item">
          <div class="item-title">
            <h2>je</h2>
          </div>
          <div class="item-description">
            <p>justify content: flex-end</p>
          </div>
        </li>
        <li class="table-content__item">
          <div class="item-title">
            <h2>jsa</h2>
          </div>
          <div class="item-description">
            <p>justify content: space-around</p>
          </div>
        </li>
        <li class="table-content__item">
          <div class="item-title">
            <h2>jsb</h2>
          </div>
          <div class="item-description">
            <p>justify content: space-between</p>
          </div>
        </li>
        <li class="table-content__item">
          <div class="item-title">
            <h2>jse</h2>
          </div>
          <div class="item-description">
            <p>justify content: space-evenly</p>
          </div>
        </li>
      </ul>
      <div class="table-devider">
        <p>+</p>
      </div>
      <ul class="table-content__list">
        <li class="table-content__item">
          <div class="item-title">
            <h2>_ais</h2>
          </div>
          <div class="item-description">
            <p>align-items: start</p>
          </div>
        </li>
        <li class="table-content__item">
          <div class="item-title">
            <h2>_aic</h2>
          </div>
          <div class="item-description">
            <p>align-items: center</p>
          </div>
        </li>
        <li class="table-content__item">
          <div class="item-title">
            <h2>_aie</h2>
          </div>
          <div class="item-description">
            <p>align-items: end</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
