@use 'sass:math';

// Импорты стилей, css-фреймворков, переменных и т.п.
@import './imports.scss';

// -----------------------------------------------
// --------------MAIN SETTINGS--------------------
// -----------------------------------------------

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  line-height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  // Chrome, Edge, and Safari
  &::-webkit-scrollbar {
    width: 8px;
    background-color: $white;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(#000, 20%);
    border-radius: 4px;
    background: #eee;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border: 0px none #fff;
    background-color: lighten($white, 10%);
    -webkit-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;

    &:hover {
      background-color: $white;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: $base_fz;
  font-family: $base_ff;
  font-style: normal;
  color: $base_color;
  background: $base_bg;
  overflow-x: hidden;
  backface-visibility: hidden;
  line-height: 1;
  -webkit-backface-visibility: hidden;
  height: 100%;
  min-width: $container-min-width;

  @include media-min {
    // Добавляем скролл если ширина экрана меньше минимальной ширины
    overflow-x: scroll;
  }
}

// Оболочка wrapper
.full-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  min-height: 100dvh;
  overflow: hidden;

  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }

  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

// Отступ контентной части от шапки сайта
.page {
  @include fdcjc_aic;
  width: 100vw;
  height: 100vh;
  margin-top: $header-height;

  // .page__inner
  &__inner {
    display: flex;
    margin-bottom: 110px;

    h1 {
      @include daysOne-upper80;
    }
  }
}

main,
header,
footer,
[data-popup] {
  direction: $web-direction;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default; // сброс стандартного курсора при наведении на заголовок и текст
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

a {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

span {
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
}

input,
textarea {
  &:focus,
  :active {
    outline: none;
  }
}

// ------------------------------------------------
// -------------------Buttons----------------------
// ------------------------------------------------

button {
  outline: none;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

// ------------------------------------------------
// -------------------Reused-----------------------
// ------------------------------------------------

// ------------------------------------------------
// -----------------KEYFRAMES----------------------
// ------------------------------------------------

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

// ------------------------------------------------
// ------------------- Other ----------------------
// ------------------------------------------------

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  visibility: visible;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 7px;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: black;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
