<!DOCTYPE html>
<html lang="ru">
@@include('components/Common/head/head.html', { 'title': 'UI', 'css': 'ui' })

<body>
  <div class="full-wrapper">
    @@include('components/Common/header/export/header.html')
    <main class="page">
      <section class="test-section">
        <div class="test-section__container">
          <div class="test-section__content">
            <!-- icons -->
            <div class="test-section__box">
              <h2 class="test-section__title">Иконочный шрифт:</h2>
              <br />
              <ul class="icons-list icons">
                <div class="clearfix mhl ptl">
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-star"></span>
                      <span class="mls"> icon-star</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e900" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-correspondence56"></span>
                      <span class="mls"> icon-correspondence56</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e901" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-fast56"></span>
                      <span class="mls"> icon-fast56</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e902" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-guarantee56"></span>
                      <span class="mls"> icon-guarantee56</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e903" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-integration1C56"></span>
                      <span class="mls"> icon-integration1C56</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e904" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-integration56"></span>
                      <span class="mls"> icon-integration56</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e905" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-pricing56"></span>
                      <span class="mls"> icon-pricing56</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e906" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-security56"></span>
                      <span class="mls"> icon-security56</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e907" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-speed56"></span>
                      <span class="mls"> icon-speed56</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e908" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-web56"></span>
                      <span class="mls"> icon-web56</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e909" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-arrow-right32"></span>
                      <span class="mls"> icon-arrow-right32</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e90a" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-arrow-up-right32"></span>
                      <span class="mls"> icon-arrow-up-right32</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e90b" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-bag32"></span>
                      <span class="mls"> icon-bag32</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e90c" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-bitrix32"></span>
                      <span class="mls"> icon-bitrix32</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e90d" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-check32"></span>
                      <span class="mls"> icon-check32</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e90e" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-headphones32"></span>
                      <span class="mls"> icon-headphones32</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e90f" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-integration32"></span>
                      <span class="mls"> icon-integration32</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e910" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-phone32"></span>
                      <span class="mls"> icon-phone32</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e911" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-responsive32"></span>
                      <span class="mls"> icon-responsive32</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e912" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-rupor32"></span>
                      <span class="mls"> icon-rupor32</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e913" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-shop32"></span>
                      <span class="mls"> icon-shop32</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e914" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-tools32"></span>
                      <span class="mls"> icon-tools32</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e915" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-arrow-left24"></span>
                      <span class="mls"> icon-arrow-left24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e916" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-arrow-right24"></span>
                      <span class="mls"> icon-arrow-right24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e917" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-arrow-square24"></span>
                      <span class="mls"> icon-arrow-square24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e918" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-arrow-up-right24"></span>
                      <span class="mls"> icon-arrow-up-right24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e919" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-bag24"></span>
                      <span class="mls"> icon-bag24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e91a" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-bell24"></span>
                      <span class="mls"> icon-bell24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e91b" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-burger24"></span>
                      <span class="mls"> icon-burger24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e91c" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-calendar24"></span>
                      <span class="mls"> icon-calendar24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e91d" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-caret24"></span>
                      <span class="mls"> icon-caret24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e91e" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-catalog24"></span>
                      <span class="mls"> icon-catalog24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e91f" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-chats24"></span>
                      <span class="mls"> icon-chats24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e920" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-check24"></span>
                      <span class="mls"> icon-check24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e921" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-close24"></span>
                      <span class="mls"> icon-close24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e922" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-coin24"></span>
                      <span class="mls"> icon-coin24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e923" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-double-check24"></span>
                      <span class="mls"> icon-double-check24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e924" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-entrance24"></span>
                      <span class="mls"> icon-entrance24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e925" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-exit24"></span>
                      <span class="mls"> icon-exit24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e926" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-eye24"></span>
                      <span class="mls"> icon-eye24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e927" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-filter24"></span>
                      <span class="mls"> icon-filter24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e928" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-folder-open24"></span>
                      <span class="mls"> icon-folder-open24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e929" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-fourt-circle24"></span>
                      <span class="mls"> icon-fourt-circle24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e92a" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-gear24"></span>
                      <span class="mls"> icon-gear24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e92b" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-hash24"></span>
                      <span class="mls"> icon-hash24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e92c" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-heart24"></span>
                      <span class="mls"> icon-heart24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e92d" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-house24"></span>
                      <span class="mls"> icon-house24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e92e" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-infinity24"></span>
                      <span class="mls"> icon-infinity24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e92f" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-info24"></span>
                      <span class="mls"> icon-info24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e930" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-mail24"></span>
                      <span class="mls"> icon-mail24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e931" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-minus24"></span>
                      <span class="mls"> icon-minus24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e932" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-notepad24"></span>
                      <span class="mls"> icon-notepad24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e933" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-paper-clip24"></span>
                      <span class="mls"> icon-paper-clip24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e934" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-paper-plane24"></span>
                      <span class="mls"> icon-paper-plane24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e935" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-pencil24"></span>
                      <span class="mls"> icon-pencil24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e936" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-phone24"></span>
                      <span class="mls"> icon-phone24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e937" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-phone-call24"></span>
                      <span class="mls"> icon-phone-call24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e938" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-plus24"></span>
                      <span class="mls"> icon-plus24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e939" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-plus-circle24"></span>
                      <span class="mls"> icon-plus-circle24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e93a" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-push-pin24"></span>
                      <span class="mls"> icon-push-pin24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e93b" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-push-pin-down24"></span>
                      <span class="mls"> icon-push-pin-down24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e93c" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-question24"></span>
                      <span class="mls"> icon-question24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e93d" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-registration24"></span>
                      <span class="mls"> icon-registration24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e93e" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-search24"></span>
                      <span class="mls"> icon-search24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e93f" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-share24"></span>
                      <span class="mls"> icon-share24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e940" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-share-link24"></span>
                      <span class="mls"> icon-share-link24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e941" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-smile24"></span>
                      <span class="mls"> icon-smile24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e942" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-stack24"></span>
                      <span class="mls"> icon-stack24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e943" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-three-dots-gor24"></span>
                      <span class="mls"> icon-three-dots-gor24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e944" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-three-dots-vert24"></span>
                      <span class="mls"> icon-three-dots-vert24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e945" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-trash24"></span>
                      <span class="mls"> icon-trash24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e946" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-upload24"></span>
                      <span class="mls"> icon-upload24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e947" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-user24"></span>
                      <span class="mls"> icon-user24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e948" class="unit size1of2" />
                    </fieldset>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-user-circle24"></span>
                      <span class="mls"> icon-user-circle24</span>
                    </div>
                    <fieldset class="fs0 size1of1 clearfix hidden-false">
                      <input type="text" readonly value="e949" class="unit size1of2" />
                    </fieldset>
                  </div>

                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-sbp"></span>
                      <span class="mls"> icon-sbp</span>
                    </div>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-ya-pay"></span>
                      <span class="mls"> icon-ya-pay</span>
                    </div>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-ruble"></span>
                      <span class="mls"> icon-ruble</span>
                    </div>
                  </div>
                  <div class="glyph fs1">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-loading"></span>
                      <span class="mls"> icon-loading</span>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
            <!-- fonts -->
            <div class="test-section__box fonts fonts--first">
              <div class="fonts__title">DaysOne</div>
              <h1>Display_80 px</h1>
              <h2>display_58 px</h2>
              <h3>display_48 px</h3>
              <h4>display_40 px</h4>
              <h5>display_32 px</h5>
              <h6>display_24 px</h6>
            </div>
            <!-- fonts -->
            <div class="test-section__box fonts fonts--second">
              <div class="fonts__title">Gravity</div>
              <h1>Display_80 px</h1>
              <h2>display_58 px</h2>
              <h3>display_48 px</h3>
              <h4>display_40 px</h4>
              <h5>display_32 px</h5>
              <h6>display_24 px</h6>
            </div>
            <!-- fonts -->
            <div class="test-section__box fonts fonts--third">
              <div class="fonts__title">Montserrat</div>
              <h1>Display_80 px</h1>
              <h2>display_58 px</h2>
              <h3>display_48 px</h3>
              <h4>display_40 px</h4>
              <h5>display_32 px</h5>
              <h6>display_24 px</h6>
            </div>
            <!-- Text -->
          </div>
        </div>
      </section>
    </main>
  </div>
</body>

</html>
